.venv
.venv*
.pytest*
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
.env
*.env
*.db
data/
tests/
.pytest_cache
.mypy_cache
.ruff_cache
.git
.gitignore
*.md
!README.md
Dockerfile
.dockerignore
docker-compose.yml
